html {
  scroll-behavior: smooth;
}

#root {
  font-family: white, Verdana, white, Geneva, white, Tahoma, white sans-serif;
  background-image: url("./assets/denim.webp");
  font-family: 1;
  color: #ababab;
}
h2 {
  color: #636363;
}
