html {
  scroll-behavior: smooth;
}

#root {
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
  background-image: url("./assets/denim.webp");
  font-family: 1;
  color: #ababab;
}
h2 {
  color: #636363;
}
